{:deps
  {org.clojure/clojure {:mvn/version "1.9.0"}
   org.clojure/clojurescript {:mvn/version "1.10.238"}
   reagent {:mvn/version "0.7.1" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server cljsjs/create-react-class]}
   re-frame {:mvn/version "0.9.3"}
   react-native-externs {:mvn/version "0.1.0"}}
  :aliases
   {:repl
     {:extra-paths ["env/dev"]
      :main-opts ["-m" "user" "--figwheel"]
      :extra-deps
       {com.cemerick/piggieback {:mvn/version "0.2.2"
                                 :exclusions  [com.google.javascript/closure-compiler]}
        figwheel-sidecar        {:mvn/version "0.5.14"
                                 :exclusions  [com.google.javascript/closure-compiler]}}}
    :prod
     {:extra-paths ["env/prod"]
      :main-opts ["-m" "user"]}}}
